
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');


html{
    color:black;
}


*{
    font-family: 'Titillium Web', sans-serif;
    font-weight:800;
}

body{
    margin:0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slider{
    width:30px;
    text-align: center;
    padding: 10px 13px 10px 10px;
    font-size:25px;
    font-weight:800;
    border:none;
    background:transparent;
}
.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    color:black;
  }
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: -25%;
    left: 38%;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: -25%;
    left: 40%;
  }

.slidercontainer{
    display:inline-block;
    position:relative;
}
.inside-form-group {
    float:right;
    padding:20px;
    position:relative;

}
.form-group{
    display:flex;
    flex-wrap:wrap;
    padding:20px 0px;
    overflow-y: auto
}

label{
    padding:10px;
    font-size: 17px;
}
.submitform{
    display:inline-block;
}
.boximg{
    margin:20px 10px;
    /* border:5px solid #d9d9d9;
    border-radius:10px; */
    /* background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(45deg, #d75881, #18a5ae) border-box;
  border: 10px solid transparent; */
  border-radius: 10px;
  height: 160px;
  width: 160px;
  position: relative;
  display: inline-flex;


}
.containing-boxes p {
    font-size:21px;
}

.box{
    margin:auto;
}


.form-group-col{
    width:310px;
}

.form-group::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);;
	border-radius: 10px;
	background-color: #F5F5F5;
}
.form-group::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.form-group::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d3ecf0;
}

.boximgsmall{
    width:40px;
    height:40px;
}
.containing-boxes{
    position:relative;
    display:flex;
}
.containing-all{
    display:flex;
    margin:0 50px;
    justify-content: center;
    position:relative;
}
.entersection{
    display:flex;
}
.entersection h2{
    margin:20px auto;
    font-weight:500;
    font-weight: 800;
    text-transform: uppercase;
}
.inside-form-group .slider{
    border:none;
    background:transparent;
}
.inside-form-group label{
    color:black;
    font-weight: 700;
}

.back-img{
    position:absolute;
    right:0;
    bottom:0;
    width:100vw;

}

.bottomimg{
    width:100%;
}

.enter{
    padding:30px;
    padding: 40px 100px 100px 100px;
    margin-bottom:100px;
}
.containing-boxes p{
    text-align:center;
    margin:0px;
    text-transform: uppercase;
}

.containdisplay{
    padding:20px;
    display:flex;
    flex-direction:row;
}
.display-first{
    width:100%;
    display:flex;
    flex-direction:column;
}
.display-first-wrap{
    display:flex;
    margin:0px auto 50px auto;
    width: 240px;
}
.inner-display-first{
    display: flex;
}
.inner-display-first p {
    padding: 10px 20px;
    font-size:25px;
    margin:0;
    color:black;
    align-items: center;
    display: flex;
    text-transform:uppercase;
    margin:0px 12px;
}
.inner-display-second{
    margin:auto;
    font-size:18px;
}

.string-row{
    display:flex;
    padding:20px;
    width: 560px;
    max-height:490px;
    overflow-y:scroll;
}

.string-row::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);;
	border-radius: 10px;
	background-color: #F5F5F5;
}
.string-row::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.string-row::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d3ecf0;
}

.string-col-1{
    text-align:right;
    width:15%;
    margin-left:20px;
}
.string-col-1 div{
    font-weight:800;
    display:flex;
    justify-content:right;
    align-items:center;

}
.string-col-2{
    width:85%;
}

.string{
    padding:5px;
    display:inline-block;
    margin:5px;
    
}
.string1{
    position:relative;
    height:60px;
    color:black;
    font-size:25px;
}
.biarrow{
    position:absolute;
    top:30%;
}
.around-icon{
    display:flex;
    flex-wrap:wrap;
    height:60px;
    align-content:center;
}

.content2{
    padding:0 30px;
}

.gem-icon{
    width: 20px;
    margin: auto;
    height:auto;
    position: absolute;
}
.around-icon{
    position:relative;
}
header{
    display:relative;
    padding-bottom:50px;
    padding-top: 5px;
}
header img{
    display:block;
    margin:0 auto;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 31px;
    background: black;
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 50px auto;
}
.menu{

    list-style-type: none;
    width: fit-content;
    display: flex;
    padding:0px;
    cursor:pointer;
    color:#19a5ae;
    position: absolute;
    right: 0;
    top: 0;
    margin: 62px;
}
.menu .item{
    font-size:20px;
    font-weight:800;

    background: #71f595;
    padding: 10px;
    color: black;
    box-shadow: 10px 10px black;
    transition: box-shadow 0.3;
}
.menu .item:hover{
    background:black;
    color:white !important;
    box-shadow:none;
    transition: box-shadow 0.3s;
}
// .menu .item1{

//     border-right:1px solid black;
//     padding-right:20px;
// }
.menu .item2{

    margin-left:20px;
}
.menu .item:hover{

    color:black;
}



  .thisone{
    opacity: 1;
    fill: #fffafa;
  }
  .firstpolygon{
    fill: white;
  }

.vh{
    height:100vh;
    overflow:auto;
}

footer{
    bottom:0;
    padding:10px;
    margin-top: 20px;
    height: 30px;
    position:relative;
    width:320px;
    left:50%;
    transform:translate(-50%);

    
}

.inside-footer{
    display:flex;
    position: absolute;
    bottom: 0;
    right:1%;
    left:0;
    margin:10px;
    margin: 10px auto;
    width: 272px;
}
footer .inside-footer .donate2{
    margin-left:40px;
}
footer .donate, footer .donate2{

    text-transform:uppercase;
}

.button-wrap{
    position:absolute;
    margin-top:15px;
    width: 180px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.button-wrap input{
    padding:8px 50px;
    background: #71f595;
    font-size:20px;
    color:black;
    cursor:pointer;
    border: none;
    box-shadow: 10px 10px black;
    font-weight: 800;
    font-size: 23px;
    transition:box-shadow 0.3s ease-out;
}
.button-wrap input:hover{
    background:black;
    box-shadow:none;
    color:white;
}

.title-section{
    text-align:center;
    margin:0 auto;
    position:relative;
    width: 30vw;
}
.title-section p {
    width:700px;
    margin-bottom:25px;
    font-weight: 600;
    font-size: 17px;
}
.title-section h2{
    color:black;

    font-size: 28px;
}
//hello
.donate{
    cursor:pointer;
}

.copyicon{
    height:20px;
    position: absolute;
    margin: 0px 10px;
}

.hide-me{
    font-size: 13px;
    position: absolute;
    top: -110%;
    right: -10%;
}

.small-boxes{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:200px;
    margin:25px 35px;
    width: 90px;
}

.enter-section p {
    margin-bottom:40px;
}

.no-data-inner{
    margin: auto auto auto 130px
}

.no-data{
    display: flex;
    height: 100px;
}

.col1form{
    width:30%;
    justify-content:right;
}
col2form{
    width:70%;
}
.with-icon{
    margin-right:38px;
    font-weight: 700;


}

.beeple{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.outer{
    position:relative;
    height:93vh;
}

.fa-arrow{
    position: absolute;
    right: -12%;
    bottom: 24%;
}

.divider{
	position: relative;
	margin-top: 30px;
    margin-bottom:30px;
	height: 1px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-tab-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
	border-radius: 0 0 8px 8px;
}

.div-stopper:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-dot:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}



@media only screen and (max-height:1024px){
    .outer{
        height:110vh;
    }
}


@media only screen and (max-height:860px){
    .outer{
        height:120vh;
    }
}
@media only screen and (max-height:800px){
    .outer{
        height:130vh;
    }
}
@media only screen and (max-height:730px){
    .outer{
        height:145vh;
    }
}
@media only screen and (max-height:650px){
    .outer{
        height:170vh;
    }
}



@media only screen and (max-width:1026px){
    .row{
        margin-top:80px;
    }
    .form-group{
        height:500px;
        justify-content:right;
    }
    .col1form,.col2form{
        width:50%;
    }
    .display-first-wrap{
        width:auto;

    margin-bottom: 70px;
    }
  
    .inner-display-first{
        margin: auto;
    }
   
}

@media only screen and (max-width:847px){
    .containing-all{
        flex-direction:column;
    }
    .containing-boxes{
        justify-content:center;
    }

    .col1form, .col2form{
        width:100%;
        margin:auto;
    }
    .form-group{
        justify-content: center;
    }
    .string-row{
        margin:auto;
        justify-content: center;
    }
    header{
        display:flex;
        flex-direction:column;
    }
    .menu{
        position:relative;
        margin:auto;
       
    }
    header{ align-items: center;
        }  
    
}

@media only screen and (max-width:775px){
    .title-section p{
        width:500px;
    }
    .display-first{
        flex-direction:column;
    }
    .display-first-wrap{
        margin:40px auto;
        border-right:none;
    }
    .inner-display-first{
        margin:auto;
        
    }
    .inner-display-second{
        width:90%;
    }
    .string-row{
        width:400px;
    }
    .display-first-wrap{
        width:90%;
    }
}
@media only screen and (max-width:700px){
    .row{
        margin-top:50px;
    }
   
    
}

@media only screen and (max-width: 600px) {
    .form-group{
     flex-direction:column;
    }
    .form-group-col1{
     width:310px;
    }
    .submitform{
     float:right;
    }
    .containing-all{
     flex-direction:column;
    }
  
   }

 @media only screen and (max-width:450px){
    .row{
        margin-top:20px;
    }
    .string-row{
        width:270px
    }
}


@media only screen and (min-width:1390px){
    .row{
        margin-top:150px;
    }
}



@media only screen and (min-width:1650px){
    .row{
        margin-top:200px;
    }
}
@media only screen and (min-width:2075px){
    .row{
        margin-top:250px;
    }
}
@media only screen and (min-width:2445px){
    .row{
        margin-top:300px;
    }
}
@media only screen and (min-width:2850px){
    .row{
        margin-top:350px;
    }
}
@media only screen and (min-width:3050px){
    .row{
        margin-top:400px;
    }
}
